.rootwrapper {
    background-color: var(--secondary-dark);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: -8px;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 30px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: var(--primary-dark);
}

header-app {
    margin-top: 10px;
}