.wrapper {
    background-color: rgba(255, 255, 255, 0.7);
    width: calc(80vw - 60px);
    height: 7vh;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    align-items: center;
    border-radius: 40px;
}

.logo {
    font-size: 40px;
    font-weight: 900;
}